<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<meta charset="UTF-8" name="viewport"
		content="width=device-width, initial-scale=1"
		http-equiv="X-UA-Conpatible" />
	<h:outputStylesheet library="css" name="bootstrap.min.css" />
	<title>product</title>
	<style type="text/css">
.tableUpdated {
	width: 90% !important;
	margin: 17px 58px 0 !important;
}

.btnSpace {
	margin: 17px;
}
</style>

 
<script>
function confirmer(){
	return confirm("are sure you want to delet this product")
}



</script>
</h:head>

<h:body>
<h3>Nouvelle detail entree  </h3>
	
		
		 <br/><br/>

        <h:inputHidden value="#{achatBean.operationentreedetaill}"></h:inputHidden>
		<h:inputHidden value="#{achatBean.id_entree_detaill}"></h:inputHidden>
		
		
		<h:form id="form6" >
		
                <h:outputLabel value="Labellefournisseur : for" for="labellefournisseur"></h:outputLabel> 
                <h:selectOneMenu id="Labellefournisseur" value="#{achatBean.labellefournisseur}" style="width: 119px; "> 
                <f:selectItems value="#{achatBean.fournisseurlist}"></f:selectItems> 
               </h:selectOneMenu>
			
			 <br/><br/>
                <h:outputLabel value="Date d'achat " for="date_achat"></h:outputLabel>
            <h:inputText value="#{achatBean.date_achat}" id="date_achat">
            <f:convertDateTime dateStyle="full" pattern="yyyy.MM.dd 'at' HH:mm"/>
            </h:inputText>
		
<!-- 		 <br/><br/> -->
<!-- 		 <h:outputLabel value="Quantite de produit: " for="quantite_achat"></h:outputLabel> -->
<!--             <h:inputText value="#{achatBean.quantite_achat}" id="quantite_achat"></h:inputText> -->
            
<!--             <br/><br/> -->
<!-- 		 <h:outputLabel value="prix achat produit: " for="prix_achat"></h:outputLabel> -->
<!--             <h:inputText value="#{achatBean.prix_achat}" id="prix_achat"></h:inputText> -->
       
            <br/><br/>
		
			<h:commandButton value ="save" actionListener="#{achatBean.addentreeproduitdetaill}"></h:commandButton>
 <br/><br/>
	    <br/>
		<h:commandButton value ="HidForm" actionListener="#{achatBean.HidFormAction}"></h:commandButton>
	</h:form>
		

<!-- 		/*******************************************************************************
 * Add categories  
********************************************************************************/ -->



	<h3>Product</h3>
	<h:form id="form1" >
		
		<h:dataTable value="#{achatBean.product1}" var="o" style="width:100%; border:1px solid #000">
			<h:column>
				<f:facet name="header">Id</f:facet>
				<h:link value="#{o.id_produit}">
				 <f:param name="id" value="#{o.id_produit}"></f:param>
				  <f:param name="operationeditproduit" value="edit"></f:param>				 
				</h:link>
			</h:column>

			<h:column>
				<f:facet name="header">product</f:facet>
				<h:inputText value="#{o.labelle}"></h:inputText>
			</h:column>
			
			<h:column>	
			<h:commandButton value ="delete" onclick="return confirmer();" actionListener="#{productBean3.deletProduct}">
			  <f:param name="id" value="#{o.id_produit}"></f:param>
			</h:commandButton>
			</h:column>

		</h:dataTable>
		

</h:form>

 
    
    
   
    <p:growl id="msg" />
 
    
 
    <p:commandButton value="Submit" icon="pi pi-check" update="display" oncomplete="PF('dlg').show()"  />
 
    <p:dialog header="Values" modal="true" resizable="false" showEffect="fade" widgetVar="dlg">
        <h:panelGrid columns="1" id="display">
            <h:form>
     
             <h:selectManyCheckbox value="#{achatBean.favoriteCar2}">
                <f:selectItems value="#{achatBean.favoriteCar2Value}" />
            </h:selectManyCheckbox>
     
	     
   		    <h:commandButton value="Submit" action="entreeproduit"  />
   		     </h:form>
        </h:panelGrid>
    </p:dialog>




    	
		<ol>
            
            <li>user.favoriteCar1 : #{achatBean.getFavoriteCar2InString}</li>
           
        </ol>
		
    	

</h:body>
</html>