<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<meta charset="UTF-8" name="viewport"
		content="width=device-width, initial-scale=1"
		http-equiv="X-UA-Conpatible" />
	<h:outputStylesheet library="css" name="bootstrap.min.css" />
	<title>product</title>
	<style type="text/css">
.tableUpdated {
	width: 90% !important;
	margin: 17px 58px 0 !important;
}

.btnSpace {
	margin: 17px;
}
</style>

 
<script>
function confirmer(){
	return confirm("are sure you want to delet this product")
}
</script>
</h:head>

<h:body>

<!-- 		/*******************************************************************************
 * Add categories  
********************************************************************************/ -->

	<h3>Product</h3>
	<h:form id="form1" >
		
	
		<h:dataTable value="#{productBean3.productlist1}" var="o" style="width:100%; border:1px solid #000">
			<h:column>
				<f:facet name="header">Id</f:facet>
				<h:link value="#{o.id_produit}">
				 <f:param name="id" value="#{o.id_produit}"></f:param>
				  <f:param name="operationeditproduit" value="edit"></f:param>				 
				</h:link>
			</h:column>

			<h:column>
				<f:facet name="header">product</f:facet>
				<h:inputText value="#{o.labelle}"></h:inputText>
			</h:column>
			<h:column>	
			<h:commandButton value ="delete" onclick="return confirmer();" actionListener="#{productBean3.deletProduct}">
			  <f:param name="id" value="#{o.id_produit}"></f:param>
			</h:commandButton>
			</h:column>

		</h:dataTable>
		
		 </h:form>
<!-- 		/*******************************************************************************
 * Add product 
********************************************************************************/ -->


		<h3>Add new products</h3>
	
		
		 <br/><br/>

        <h:inputHidden value="#{productBean3.operationeditproduit}"></h:inputHidden>
		<h:inputHidden value="#{productBean3.id_produit}"></h:inputHidden>
		
		<h:commandButton value ="ShowForm" actionListener="#{productBean3.showFormAction}"></h:commandButton>
		<h:panelGroup id="addProductForm" rendered="#{productBean3.showForm}">
		<h:form id="form3" >
            <h:outputLabel value="Numproduit: " for="numproduit"></h:outputLabel>
            <h:inputText value="#{productBean3.numproduit}" id="numproduit"></h:inputText>
            
              <h:outputLabel value="Labelle produit: " for="labelleproduit"></h:outputLabel>
            <h:inputText value="#{productBean3.labelleproduit}" id="labelleproduit"></h:inputText>
		
<!-- 	<h:outputLabel value="Labellefournisseur : for" for="labellefournisseur"></h:outputLabel>
<h:selectOneMenu id="Labellefournisseur" value="#{productBean3.labellefournisseur}">
<f:selectItems value="#{productBean3.fournisseurlist}"></f:selectItems>
</h:selectOneMenu> -->
		

			<h:commandButton value ="save" actionListener="#{productBean3.ddproduct}"></h:commandButton>
 <br/><br/>
	    <br/>
		<h:commandButton value ="HidForm" actionListener="#{productBean3.HidFormAction}"></h:commandButton>
	</h:form>
		</h:panelGroup>
		
		
<!-- 		/*******************************************************************************
 * Add fournisseur 
********************************************************************************/ -->		
<h3>Add new fournisseur </h3>
	
		
		 <br/><br/>

        <h:inputHidden value="#{productBean3.operationeditfournisseur}"></h:inputHidden>
		<h:inputHidden value="#{productBean3.operationeditfournisseur}"></h:inputHidden>
		
		<h:commandButton value ="ShowForm" actionListener="#{productBean3.showFormAction}"></h:commandButton>
		<h:panelGroup id="addFournisseurForm" rendered="#{productBean3.showForm}">
		<h:form id="form5" >
           
            
              <h:outputLabel value="Labelle produit: " for="labellefournisseur"></h:outputLabel>
            <h:inputText value="#{productBean3.labellefournisseur}" id="labellefournisseur"></h:inputText>
		
<!-- 				<h:outputLabel value="Labellefournisseur : for" for="labellefournisseur"></h:outputLabel> -->
<!-- 		<h:selectOneMenu id="Labellefournisseur" value="#{productBean3.labellefournisseur}"> -->
<!-- 			<f:selectItems value="#{productBean3.fournisseurlist}"></f:selectItems> -->
<!-- 		</h:selectOneMenu> -->
		

			<h:commandButton value ="save" actionListener="#{productBean3.addfournisseur}"></h:commandButton>
 <br/><br/>
	    <br/>
		<h:commandButton value ="HidForm" actionListener="#{productBean3.HidFormAction}"></h:commandButton>
	</h:form>
		</h:panelGroup>	
		
<!-- 		/*******************************************************************************
 * Add fournisseur 
********************************************************************************/ -->	
<h3>Nouvelle entree  </h3>
	
		
		 <br/><br/>

        <h:inputHidden value="#{achatBean.operationentree}"></h:inputHidden>
		<h:inputHidden value="#{achatBean.id_produit_entree}"></h:inputHidden>
		
		<h:commandButton value ="ShowForm" actionListener="#{achatBean.showFormAction}"></h:commandButton>
		<h:panelGroup id="addachatForm" rendered="#{achatBean.showForm}">
		<h:form id="form6" >
           
           
                <h:outputLabel value="Date d'achat : " for="date_achat"></h:outputLabel>
            <h:inputText value="#{achatBean.date_achat}" id="date_achat">
            <f:convertDateTime dateStyle="full" pattern="yyyy.MM.dd 'at' HH:mm"/>
            </h:inputText>
         
            <br/><br/>
		
<!-- 				<h:outputLabel value="Labellefournisseur : for" for="labellefournisseur"></h:outputLabel> -->
<!-- 		<h:selectOneMenu id="Labellefournisseur" value="#{productBean3.labellefournisseur}"> -->
<!-- 			<f:selectItems value="#{productBean3.fournisseurlist}"></f:selectItems> -->
<!-- 		</h:selectOneMenu> -->
		

			<h:commandButton value ="save" actionListener="#{achatBean.addentreeproduit}"></h:commandButton>
 <br/><br/>
	    <br/>
		<h:commandButton value ="HidForm" actionListener="#{achatBean.HidFormAction}"></h:commandButton>
	</h:form>
		</h:panelGroup>	
		<!-- 		/*******************************************************************************
 * Add fournisseur 
********************************************************************************/ -->	
<h3>Nouvelle detail entree  </h3>
	
		
		 <br/><br/>

        <h:inputHidden value="#{achatBean.operationentreedetaill}"></h:inputHidden>
		<h:inputHidden value="#{achatBean.id_entree_detaill}"></h:inputHidden>
		
		<h:commandButton value ="ShowForm" actionListener="#{achatBean.showFormAction}"></h:commandButton>
		<h:panelGroup id="addentreeproduitdetaill" rendered="#{achatBean.showForm}">
		<h:form id="form7" >
		
		 <br/><br/>
		 <h:outputLabel value="Quantite de produit: " for="quantite_achat"></h:outputLabel>
            <h:inputText value="#{achatBean.quantite_achat}" id="quantite_achat"></h:inputText>
            
            <br/><br/>
		 <h:outputLabel value="prix achat produit: " for="prix_achat"></h:outputLabel>
            <h:inputText value="#{achatBean.prix_achat}" id="prix_achat"></h:inputText>
           
           <br/><br/>
                <h:outputLabel value="Date d'achat : " for="date_achat"></h:outputLabel>
            <h:inputText value="#{achatBean.date_achat}" id="date_achat">
            <f:convertDateTime dateStyle="full" pattern="yyyy.MM.dd 'at' HH:mm"/>
            </h:inputText>
         
            <br/><br/>
		
<!-- 				<h:outputLabel value="Labellefournisseur : for" for="labellefournisseur"></h:outputLabel> -->
<!-- 		<h:selectOneMenu id="Labellefournisseur" value="#{productBean3.labellefournisseur}"> -->
<!-- 			<f:selectItems value="#{productBean3.fournisseurlist}"></f:selectItems> -->
<!-- 		</h:selectOneMenu> -->
		
			<h:commandButton value ="save" actionListener="#{achatBean.addentreeproduitdetaill}"></h:commandButton>
 <br/><br/>
	    <br/>
		<h:commandButton value ="HidForm" actionListener="#{achatBean.HidFormAction}"></h:commandButton>
	</h:form>
		</h:panelGroup>	
		
</h:body>
</html>