<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<meta charset="UTF-8" name="viewport"
		content="width=device-width, initial-scale=1"
		http-equiv="X-UA-Conpatible" />
	<h:outputStylesheet library="css" name="bootstrap.min.css" />
	<title>product</title>
	<style type="text/css">
.tableUpdated {
	width: 90% !important;
	margin: 17px 58px 0 !important;
}

.btnSpace {
	margin: 17px;
}
</style>

 
<script>

</script>
</h:head>

<h:body>
<h3>Nouvelle detail entree  </h3>
	
		<h:form >

           	<h:selectManyCheckbox value="#{achatBean.product1}">
   			<f:selectItems value="#{achatBean.productlist}" var="n"
   			itemLabel="#{n.labelle}" itemValue="#{n.id_produit}" />
   		</h:selectManyCheckbox>
          
   		
   	
			<h:commandButton value ="valider"  action="entreeproduit"></h:commandButton>
	
   		</h:form>
</h:body>
</html>